article > header > h3 {
    padding: 2% 0;
    margin: 5% 0;
    border-radius: 1em 0 1em 0;
    background-color: #EEFAF2;
    text-align: center;
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.25));
}

article > div > section button {
    background-color: #C7EDD7;
    border-width: 0px;
    border-radius: 30%;
    text-align: center;
}

article > div > footer {
    margin-top: 3%;
    padding: 1%;
}

article > div > footer > div > input {
    color: #000000;
    background-color: #C7EDD7;
    border-width: 0px;
}

article > div > footer > div > input:hover {
    background-color: #86C4AF;
}