form>div:last-child>article>div {
    border-top: solid 2px #86C4AF;
    padding: 5% 0%;
    margin-bottom: 5%;
}

form>div:last-child>article>div>section>a {
    text-decoration: none;
    border: 1px solid #86C4AF;
    color: #000000;
    margin-top: 5%;
}

form>div:last-child>article>div>section>a:hover {
    color: #000000;
    background-color: #86C4AF;
}

form>div:last-child>article>footer>div>button {
    text-decoration: none;
    color: #000000;
    background-color: #C7EDD7;
    border-width: 0px;
    padding: 1% 0px;
}

form>div:last-child>article>footer>div>button:hover {
    background-color: #86C4AF;
}

div>div>div>section>header {
    margin: 10% 0%;
}

div>div>div>section>p {
    margin: 3% 0;
}

div>div>div>section>a {
    padding: 2% 5%;
    border-radius: 0% 1em 0% 1em;
    background-color: #EEFAF2;
    color: black;
}

div>div>div>section>a:hover {
    color: black;
    text-decoration: none;
    background-color: #86C4AF;
}

div>div>div>section>a>img {
    width: 7%;
    margin-left: 2%;
}

.list-group-item.active {
    background-color: #375C62;
    border-width: 0;
}

.list-group-item.active,
.list-group-item.active>a {
    background-color: #375C62;
    border-width: 0;
    color: white;
}

div>div>div>nav>ul>li,
div>div>div>nav>ul>li>a {
    background-color: #fff;
    margin: 0%;
    padding: 0px;
    filter: none;
}

div>div>div>nav>ul>li>a.nav-link {
    padding: 0px;
}

div>div>div>nav>ul>li>a:hover {
    color: black;
}

@media screen and (min-width: 767px) {
    div>div>div>section>a>img {
        width: 3%;
        margin-left: 2%;
    }
}