/* Per i titoli (Scegli, Acquista, Pianta, Regala) in pianta e regala*/
article > header > h3 {
    padding: 10px 0px;
}

/* Per le immagini in pianta e regala*/
article > header > div > img, article > div > div > header > div > img {
    width: 30%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Per le frecce in pianta e regala*/
article > div > div > footer > div > img {
    width: 15%;
}

/* Per l'immagine in alto di pianta*/
article > div > img {
    border-radius: 10px;
}

main > div:first-child {
    padding: 1% 5%;
}

/* Quando lo schermo è grande, le frecce ruotano e le immagini un po' grandi*/
@media screen and (min-width : 992px) {
    article > header > div > img, article > div > div > header > div > img {
        width: 80%;
    }

    article > div > div > footer > div > img {
        transform: rotate(270deg);
        width: 30%;
    }

    /*Immagine di pianta*/
    article > div > img {
        width: 70%;
    }
}
