article>div>img {
    width: 90%;
}

div>article>div+section>div:first-child {
    padding: 3% 2%;
    background-color: #EEFAF2;
}

div>article>section+section {
    background-color: #F4F4F4;
    padding: 3% 0px;
    margin-top: 5%;
}

section>div+div {
    background-color: #375C62;
    color: white;
    margin: 2% 0;
    padding: 1% 2%;
}

div#myCarousel{
    width:60%;
}

div.carousel-item > img {
    width:  700px;
    height: 400px;
}

div>div>div>img,
div>article>section>div {
    border-radius: 10px;
}

div>div>div>img,
footer>div>form>button:only-child {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 2% 0px;
}

footer>div>form>button:only-child {
    text-decoration: none;
    color: black;
    margin-top: 10%;
    background-color: #C7EDD7;
    border-width: 0px;
}

footer>div>form>button:only-child:hover {
    background-color: #86C4AF;
}

footer>div>form>button:only-child>img {
    width: 13%;
}

footer > div > div >  a.rounded-pill{
    background-color: #C7EDD7;
}

footer > div > div >  a.rounded-pill:hover{
    background-color: #86C4AF;
}

@media screen and (max-width: 767px) {
    article>div>img {
        width: 70%;
    }
    div>div>img {
        width: 85%;
    }

    div.carousel-item > img {
        width:  300px;
        height: 100px;
        }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    article>div>img {
        width: 90%;
    }

    div.carousel-item > img {
        width:  500px;
        height: 300px;
        }
}