form{
    margin-left: 15%;
}

label[for="file_immagine"]{
    border: 1px solid black;
    cursor: pointer;
    padding: 2% 15%;
}

label[for="file_immagine_modifica"]{
    border: 1px solid black;
    cursor: pointer;
    padding: 2% 15%;
}

label + input#file_immagine {
    display:none;
}

label + input#file_immagine_modifica {
    display:none;
}

input.btn {
    background-color: #C7EDD7;
    margin-left: 50%;
}

form > fieldset > div > div > a.btn {
    background-color: #C7EDD7;
    margin-left:35%;
    color: black;
}

form > div > div > a:hover {
    color: black;
    text-decoration: none;
}

form > div > div > div > img{
    width:60%;
}


textarea.form-control {
    height: 200px;
}

 section > a {
    color: black;
    background-color: #C7EDD7;
    width: 40%;
}

img.modifica{
    width: 60%;
    margin-top: 10%;
}

section > ul> li{
    list-style-type: none;
}

section > div > div > a{
    border: 1px solid black;
}

section >  ul > li > a {
    background-color: #C7EDD7;
    width: 60%;
}

section > div > ul > li > a {
    background-color: #C7EDD7;
    width: 100%;
}

div > div > div > a {
    background-color: #C7EDD7;
}


@media screen and (max-width: 767px) {

    form{
        margin-left: 0;
    }

    label[for="file_immagine"]{
        width:100%;
        padding:2%;
        margin-bottom: 10%;
    }

    label[for="file_immagine_modifica"]{
        width:100%;
        padding:2%;
        margin-bottom: 10%;
    }
    
    
    input.btn {
        margin-left: 5%;
    }

    form > div > div > img{
        margin-left: 30%;
        margin-bottom: 5%;
    }

    form > div > div > div > img{
        width:100%;
    }

    form > fieldset > div > div > a.btn {
        margin-left:0;
        margin-bottom:5%;
    }

    section > a {
        width: 100%;
    }

    section > ul > li > a {
        width: 100%;
    }

    section > div > ul > li.dettaglio{
        margin-top: 5%;
    }

    section > div > div > img{
        margin-top: 5%;
    }

    img.modifica {
        width: 100%;
    } 
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  main > div:last-child > div >section > a {
      width: 50%;
  }
}

