/* Per immagine carrello vuoto*/

article>div:first-child>img {
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.25));
    width: auto;
}

section>div>div>a,
section>div>div>button {
    text-decoration: none;
    border: 1px solid #86C4AF;
    color: #000000;
    background-color: #EEFAF2;
}

section>div>div>a:hover,
section>div>div>button:hover {
    color: #000000;
    background-color: #86C4AF;
}

section>form>div>button,
form>div>section>div>button {
    text-decoration: none;
    color: #000000;
    background-color: #C7EDD7;
    border-width: 0px;
    padding: 1% 0px;
}

section>form>div>button:hover,
form>div>section>div>button:hover {
    background-color: #86C4AF;
}

div>div>article {
    padding: 2% 0;
    margin-bottom: 5%;
    border-radius: 5em 0% 5em 0%;
    background-color: #EEFAF2;
}

div>div>article>section>div>img,
div>div>article>form>section>div>img {
    width: 60%;
}

div>div>article>section>div>div>div>p:first-child {
    border-top: 2px solid #C7EDD7;
    padding-top: 3%;
}

article>header>h3 {
    padding: 2% 0;
    margin: 5% 0%;
    border-radius: 1em 0% 1em 0%;
    background-color: #EEFAF2;
    text-align: center;
}

article>footer {
    margin-top: 3%;
    border: 2px solid #F4F4F4;
    padding: 1%;
}

.list-group-item.active,
.list-group-item.active>a {
    background-color: #375C62;
    border-width: 0;
    color: white;
}

div>div>div>nav>ul>li,
div>div>div>nav>ul>li>a {
    background-color: #fff;
    margin: 0%;
    padding: 0px;
    filter: none;
}

div>div>div>nav>ul>li>a.nav-link {
    padding: 0px;
}

div>div>div>nav>ul>li>a:hover {
    text-decoration: overline;
    color: black;
}

@media screen and (min-width: 767px) {
    /* Per immagine carrello vuoto*/
    article>div:first-child>img {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    /* Per immagine carrello vuoto*/
    article>div:first-child>img {
        width: 40%;
    }
}