body > header:first-child > div:first-child {
    padding-left: 10%;
}

body > header:first-child > div:first-child > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

body > header:first-child > div:first-child > img, div > nav > ul > li > a {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

body > header:first-child > div > a > img {
    margin-top: 20%;
    width: 50%;
}

article > div > section > img {
    width: 100%;
}

body > header:first-child > div.dropdown > ul.dropdown-menu {
    min-width: 13rem;
}

body > header:first-child > div.dropdown > ul> li > a > img, body > header:first-child > div.dropdown > ul> li > a > svg,
body > header:first-child > nav.navbar > div > ul> li > a > img, body > header:first-child > nav.navbar > div > ul> li > a > svg {
    width: 20%;
    float: right;
}

body > header:first-child > nav.navbar > div > ul> li > a.dropdown-item {
    padding-top: 4%;
}

ul > li > a.dropdown-item:hover {
    font-weight: bolder;
    color: #58979D;
}

ul > li > a > span {
    background-color: #58979D;
    color: white;
}

body > header:first-child > nav.navbar {
    display: none;
}

div > nav > ul > li > a {
    background-color: #86c4af;
    margin-bottom: 5%;
}

div > nav > ul > li > a > img {
    width: 10%;
}

div > a , div > a:hover, ul > li > a {
    text-decoration: none;
    color: black;
}

main > h2 {
    margin-top: 5%;
}

body > footer:last-child {
    margin-top: 10%;
    border-top: 1px solid #86c4af;
    width: 100%;
}

body > footer:last-child > div > ul > li {
    list-style-type: none;
}

body > footer:last-child > div > ul > li > a > img {
    width:20%;
}

@media screen and (max-width: 767px) {

    body > header:first-child > div.dropdown {
        display: none;
    }

    body > header:first-child > nav.navbar {
        display: block !important;
        width: 100%;
        text-align: center;
    }

    body > header:first-child > div > a > img {
        margin-top: 50%;
        width: 100%;
    }

    nav > ul > li > a {
        margin-bottom: 3%;
    }

    body > header:first-child > div:first-child > img {
        width: 100%;
    }

    footer:last-child > div > ul > li > a > img {
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    body > header:first-child > div > a > img {
        margin-top: 50%;
        width: 90%;
    }

    nav > ul > li > a {
        margin-bottom: 3%;
    }

    body > header:first-child > div:first-child > img {
        width: 50%;
    }

    footer:last-child > div > ul > li > a > img {
        width: 30%;
    }
}